@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 12px/1.5 Inter, sans-serif;
}

body {
  padding: 4em;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 100em;
  margin: 0 auto;
  display: flex;
  gap: 2em;
  background-color: rgb(217 217 217);
  padding: 4em;
  justify-content: center;
}

article {
  flex: 1 0 30em;
  box-shadow: 0.3em 0.3em 0.5em 0.1em rgb(0, 0, 0, 0.2);
}

article .media img {
  height: 100%;
}

.info {
  border-top: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5em;
  padding-top: 1.5em;
}

article .media {
  height: 17em;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1em
}

.user-image {
  width: 4em;
  height: 4em;
  overflow: hidden;
  border-radius: center;
  position: relative;
  border-radius: 50%;
}

.user-image img {
  position: absolute;
  top: -25%;
}

.content {
  margin: 2.5em;
}

.title {
  padding: 0.5em 0 1.5em;
  font-weight: 400;
}

.content p {
  line-height: 1;
  color: #666f77;
}

.subtitle {
  color: #595959;
}

.read {
  color: #acacac;
}

.author {
  font-size: 14px;
}