

.site-header .media {
  max-width: 5%;
}

.site-header .section-container {
  display: flex;
  padding: 1em 2em;
  justify-content: space-between;
  align-items: center;
}

.site-header .section-container .media {
  max-width: 5em;
}

.site-header .section-container nav ul {
  display: flex;
  gap: 2em;
}

.categories {
  display: flex;
  justify-content: center;
}