html {
  font-family: Helvetica, sans-serif;
}

body {
  font: inherit;
  padding: 3.5em;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
}

nav {
  margin-left: 40px;
}

li {
  display: inline-block;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #090;
}

header {
  border-bottom: 2px solid #000;
  display: flex;
  position: relative;
  align-items: center;
}