* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 238, 238);
  height: 100vh;
}

.card {
  width: 40%;
  padding: 1em 2em 2em 1em;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0.2em 2em 0 rgb(0, 0, 0, 0.3);
}

.card h3 {
  padding-bottom: 0.3em;
}

