* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
}

.container ul {
  display: flex;
  gap: 1em;
}

.container ul li {
  display: block;
  width: 5em;
  list-style: none;
  height: 15em;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.2);
}

.container img {
  display: block;
  width: auto;
  height: 100%;
}

.container li.open {
  width: 24.5em;
  padding: 0 1em;
  background-color: #000;
}

.container li.open img {
  border-radius: 10px;
}