@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

html {
  font: 18px/1.5 Arial, sans-serif;
}

.title, nav {
  font-size: 25px;
  font-weight: 700;
}

.hero-title {
  font-size: 40px;
  font-weight: 700;
} 

.hero-buttons a {
  font-weight: 700;
}

.information-header {
  font-weight: 700;
  font-size: 27px;
}

.information-text {
  font-size: 23px;
}

.information-card-media i {
  font-size: 170px;
}

.information-card-title {
  font-size: 25px;
  font-weight: 700;
}

.work-title {
  font-size: 40px;
  font-weight: 700;
}

.goals {
  font-size: 27px;
}

.animals-title {
  font-size: 60px;
  font-weight: 700;
}

.animals-text {
  font-size: 22px;
}

.way-of-work-title {
  font-size: 35px;
  font-weight: 700;
}

.way-of-work-card {
  font-weight: 700;
}

.way-of-work-card-title {
  font-size: 22px;
}

.way-of-work-card-text {
  font-size: 20px;
}

.contact-us-title {
  font-size: 32px;
  font-weight: 700;
}

.contact-us-quote {
  font-size: 20px;
}

.contact-us-content form button {
  font-size: 20px;
  font-weight: 700;
}

.contact-us-content form input {
  font-size: 22px;
  font-weight: 700;
}

.socials {
  font-size: 40px;
}

.copyright {
  font-size: 22px;
  font-weight: 700;
}