* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font: 14px/1.5 Helvetica, sans-serif;
}

body {
  padding: 4em;
}

.container {
  max-width: 70em;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

article {
  display: flex;
  padding: 3em;
  gap: 2em;
  background-color: #1881b6;
  border: 5px solid #000;
  border-radius: 1em;
}

article h4 {
  font-size: 19px;
  padding: 1em 0 1em;
  line-height: 1;
}

.content {
  align-self: center;
}

article h1 {
  font-size: 2.6em;
  width: 100%;
  color: #fff;
  font-weight: 400;
  line-height: 1;
}

article p {
  padding: 1em 0 1.5em 0;
  text-indent: 6ch;
  line-height: 2;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 6em;
  padding-right: 4em;
}

.buttons a {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0.3em 0.5em;
  font-weight: bold;
}

.buttons a:hover {
  color: #fff;
  background-color: #b6416d;
}