@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Agbalumo';
  font-size: 25px;
}

body {
  background-color: lightblue;
}

header {
  text-align: center;
  margin: 2em 3em 0 1em;
  background-color: lightblue;
}

header p {
  border-bottom: 3px solid #000;
}

.title {
  font-size: 50px;
}

.country {
  font-size: 30px;
}

main {
  background-color: #fff;
  display: flex;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 400px;
  margin: 2em 1em 4em;
  border: 2px solid #000;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  padding: 0.5em;
}

.card p {
  font-size: 16px;
  padding: 0.8em;
}

.description {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 2.6em 0.5em 0;
}

.facts {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 35px;
  padding: 0 2em;
  background-color: #000;
  color: #fff;
}

ul {
  padding: 0.5em 2em 0.5em;
  list-style: none;
  line-height: 2;
}