* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  padding: 1em;
}

header, main, footer, aside {
  background-color: lightblue;
  border-radius: 5px;
}

header, footer {
  flex-basis: 100%;
}

header {
  padding: 1em 0.5em;
  display: flex;
  align-items: center;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

nav ul li a {
  text-decoration: none;
  color: #369;
}

header p,
main p {
  font-size: 30px;
  font-weight: bold;
}

aside {
  flex: 1 0 calc(25% - 1em);
  padding: 1em 0 5em 1em;
}

aside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

aside ul li a {
  text-decoration: none;
}

main {
  flex: 1 0 75%;
  padding: 2em 0.5em;
}

main ul {
  padding: 1.2em 0 1.2em 2.5em;
} 

footer {
  padding: 0.3em 0.5em;
}

@media (max-width: 500px) {
  body {
    flex-direction: column;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    left: auto;
    padding: 2em 0 2em 8em;
  }

  nav ul {
    flex-direction: column;
    gap: 3em;
  }

  aside {
    padding-bottom: 1em;
  }

  main {
    padding: 0.5em;
  }

  main ul {
    padding-bottom: 0;
  }
}

